

.Container {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
    background-color:#EEE6E2;
    height:100vh;
    width: 100vw;
    
  }
  
  .LeftPanel {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0 10px;
   
  }
  
  .RightPanel {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 10px;
   
  }
  
  .otherCont{

   width: 72vw;
   height: 62vh;
   margin-left: 3vw;
  }