.container {
  width: 92vw;
  height: 80vh;
  position: fixed;
  top: 14vh;
  left: 7vw;
  box-sizing: border-box;
}

.cover {
  margin-left: 5vw;
}

/* form

*/

.formContainer {
  display: flex;
  flex-direction: column;
  height: 42vh;
}

.div1 {
  display: flex;
  gap: 4vw;
  margin-top: 2vh;
}

.div2 {
  margin-top: 2vh;
  width: 89vw;
}

.labelOne {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.box {
  position: relative;
}

.error {
  position: absolute;
  color: rgb(141, 22, 22);
  font-size: 0.8rem;
  display: block;
  right: 0;
}

.createBtn {
  position: relative;
  top: 2vh;
  bottom: 10vh;
  margin-left: 80vw;
}

.buttonOne {
  border: none;
  padding: 1vh 1vw 1vh 1vw;
  min-width: 6vw;
  background: #4d5949;
  color: #fcfbff;
  border-radius: 12px;

  cursor: pointer;
}

/*table*/

.tableContainer {
  margin: 2vh 5vw 0 0;
}
.tbl {
  overflow: hidden;
  overflow-y: auto;
  background-color: white;
  width: 88vw;
  height: 37vh;
  margin: 3vh 0 0 0;
}
.tbl::-webkit-scrollbar {
  width: 0.5vw;
}
.tbl::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: #f5f5f5;
}
.tbl::-webkit-scrollbar-thumb {
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.tableOne {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  border-radius: 0.4vw;
  border: 2px solid transparent;

  background-color: white;
}

.tableOne th {
  background-color: white;
  top: 0;
  font-size: 1rem;
  position: sticky;
  height: 2.5vh;
  margin-bottom: 1vh;
  font-weight: 100;
}

.tableOne td,
th {
  border: 1px solid #dddddd;
  text-align: center;

  border-left: none;
  border-right: none;
}

.tableOne td {
  padding: 0.1px;
  height: fit-content;
}
.tableOne thead {
  position: relative;
  bottom: 2vh;
  font-weight: 100;
}

tr:nth-child(even) {
  background-color: #efeded;
}

.checkOne {
  background-color: none;
  accent-color: rgb(242, 194, 0);
}

.labelTwo {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0 0 0.9vh 0;
  position: relative;
  top: 2vh;
}

.DeleteImg {
  position: relative;
  top: 2vh;
  height: 4vh;
  background: #8f9489;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
  border-radius: 0.1rem;
}

.EditImg {
  position: relative;
  top: 2vh;
  height: 4vh;
  margin-right: 0.1rem;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 65vh;
  width: 55vw;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 20vw;
}

.fieldGroup1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 0vw;
}

.createBtn1 {
  position: relative;
  top: 2vh;
  bottom: 10vh;
  margin-left: 43vw;
}

/*filter*/

.selectTwo {
  width: 11vw;
  height: 5.34vh;
  margin-left: 58.5vw;
  position: relative;
  top: 1vh;
  text-align: center;
}

.editOne {
  width: 11vw;
  height: 3vh;
  text-align: center;

  border: none;
  color: #0d0c22;
  transition: 0.3s ease;
  background-color: transparent;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
}

.editTwo {
  width: 11vw;
  height: 3vh;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #0d0c22;

  border-bottom: 1px solid black;

  font-size: 0.8rem;
}

.editOne:focus,
.editOne:hover,
.editTwo:focus,
.editTwo:hover {
  width: 11vw;
  height: 3vh;
  text-align: center;

  color: #0d0c22;
  transition: 0.3s ease;
  background-color: transparent;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
  outline: none;
}

.editBtn,
.deleteBtn,
.saveBtn {
  border: none;
  outline: none;
  background-color: transparent;
}

.editBtn img {
  width: 2vw;
  margin-left: -0.5vw;
}

.deleteBtn img {
  width: 2vw;
  margin-left: -0.009vw;
}

.saveBtn img {
  width: 1.5vw;
  margin-left: -2.7vw;
}

.sort1 {
  width: 1vw;
  margin-left: 0.5vw;
}

.btn {
  border: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -125px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

/**/

.inputCont,
.btnCont,
.confirmBtnCont {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 3% auto;
}

.editCont {
  height: 190%;
  width: 105%;
  background-color: white;
  border-radius: 8px;
  position: relative;
  right: 2.5%;
  bottom: 40%;
}

.inputCont select {
  width: 12vw;
}

.btnCont {
  margin: 5% auto;
}

.confirmBtnCont {
  margin: 6% auto;
}

.editBtn {
  padding: 2.2% 2%;
  font-size: 0.7rem;
  color: #4d5949;
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: clamp(3vw, 12.2vw, 12.2vw);
}

.cancelBtn,
.confirmBtn {
  padding: 3%;
  font-size: 0.9rem;
}

.cancelBtn {
  border: 1px solid #4d5949;
}

.confirmBtn {
  background: #4d5949;
  color: white;
}

.editHeading {
  font-size: 1.4rem;
  padding: 2% 0 0 0;
}

.box1 {
  margin-left: 2vw;
}

.Editdiv2 {
  margin: 0 2vw 0 2vw;
}

.Editdiv1 {
  margin: 0 2vw 0 0;
}
