.InputContainer{
    display:inline-grid;
    margin: 2vh 0 2vh 1vw;
    row-gap: 1vh;
 }

 .Input{
    font-family: "Roboto Mono",monospace;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
}

 .InputContainer input[type=text]{
    padding: 0.8vh 0vw;
}

.InputContainer input[type=date]{
    padding: 0.8vh 1.2vw;  
}

.InputContainer input[type=time]{
    padding: 0.8vh 1.8vw;  
}

.InputContainer select{
    padding: 1.1vh 0.7vw;
    cursor: pointer;
}

.fileInputContainer{
    display: inline-grid;
    margin: 2vh 0 2vh 1vw;
}

.fileInput{
    display: none;
}

.fileInputLabel{
    border: 1px solid lightgrey;
    padding: 0.5vh 0.5vw;
    border-radius: 8px;
    display: inline-flex;
    gap: 1vw;
    align-items: center;   
    cursor: pointer;
}

.fileInputLabel img{
    width: 1.5vw;
    margin: 0.2vh    0 0 0;
    align-self:flex-end;
}


.Input:focus {
    outline: none;
    border-color: #0398fc;
    box-shadow: 0 0 0 1px #0398fc;
   }

::-webkit-calendar-picker-indicator{
    cursor: pointer;
}

::-webkit-calendar-picker-indicator:focus{
    outline: none;
    border-color: #0398fc;
    box-shadow: 0 0 0 1px #0398fc;
}
