.Header{
    display: flex;
    font-size: 1.5rem;
    
    
    
}

.stepsContainer{
    display: flex;
    margin: 0 5vw 0 auto;
}

.step{
    margin: 0 0.7vw 0 0.7vw;
    border-radius: 20px;
    padding: 0.8vh 1.1vw;
    border: 2px solid #22311E;
    color: #22311E;
}

.stepCompleted{
    background: #22311E;
    border: none;
    color: #ffff;
}