/* one*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 69vh;
    margin: 2vh 0 0 0;
}

.innerContainer{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin: 3vh 0 0 2vw;
}

.topContainer{
    display: flex;
    justify-content: space-between;
    width: 107%;
    
}
.topLeftContainer,.topRightContainer{
   display: flex;
   gap: 1vw;
}


.topContainer button{
    width: 2vw;
    height: 5vh;
    align-self:end;
    border: none;
    background: transparent;
}

.searchIcon{
    width: 80%;
    height: 80%;
}

.datesCont{
    position: relative;
}

.dateErr{
    position: absolute;
    color: red;
    bottom: -3vh;
    right: 0;
    
}

.middleContainer{
    display: flex;
    gap: 5vw;
    margin: 0  auto;
    justify-content: space-between;
}

.Available,.Selected{
    text-align: center;
    background: #4D5949;
    color: #ffff;
    border-radius: 8px 8px 0 0;
}
.Available{
    width: 50vw;
}

.Selected{
    width: 25vw;
}

.deleteIcon{
    width: 1.2vw;
    margin: 0 0 0 1vw;
    cursor: pointer;
}


.tableContainer{
    width: 30vw;
    text-align: center;
    height: 30vh;
    border-radius: 8px;
    border: 0.1px solid #e5e6e4;
}

.selectedContainer{
    text-align: center;
    height: 30vh;
    border-radius: 8px;
    border: 0.1px solid #e5e6e4;
}


.tableContainer table{
    width: 100%;
    margin: 0;
   
}

.tableContainer thead,.selectedContainer thead{
    position: sticky;
    top: 0;
    background-color: #fff;
  
  }

 

.add{
    border: none;
    width: 1.2vw;
    margin: 0 0 0 0.7vw;
    background: transparent;
}

.add img{
    width: 100%;
}



.Btn{
    padding: 0.7%;
    font-size: 0.7rem;
    color: #ffff;
    background:#4D5949;
    border: none;
    border-radius: 4px;
    width: clamp(3vw,5vw,5vw);
    align-self: flex-end;
    margin: 0 0 0 0.5vw;
}

/* page two */
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.heading{
    margin: 2vh 0 1vh 0;
    font-size: 1.2rem;
}

.inputContainer{
    display: flex;
    gap: 2vw;
}

.country{
    gap: 0.4vw;
}



.btnContainer{
    margin: 2vh 0 0 auto;
}

.btnContainer button{
    height: 5vh;
}

.hidden{
    visibility: hidden;
}

.innerinputContainer{
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.errorMsg{
    color: red;
    align-self:flex-end;
    position: absolute;
    bottom: -3vh;
}



/* page Three */
.mainDetailsContainer{
    display: flex;
    flex-direction: column;
}

.topDetailsContainer{
    display: flex;
    background: #D0CFC9;
    justify-content: space-evenly;
    padding: 1vh 0.5vw;
    border-radius: 8px;
    margin: 2vh 0 3vh 0;
}

.topDetailsContainer div{
    display: flex;
    flex-direction: column;
}

.detailsLabel{
    font-weight: bold;
}

.nights{
    text-align: center;
}

.DetailsContainer{
    display: flex;  
    justify-content: space-between;
}

.otherDetailsContainer,.financialDetailsContainer{
    height: 50vh;
    border: 0.1px solid #e5e6e4;
    border-radius: 0 0 8px 8px;
}

.innerDetailsContainer{
    display: flex;
    justify-content: space-between;
}





.line{
    height: 2vh;
    display: block;
    background:#4D5949;
    border-radius: 8px 8px 0 0;
}

.lineOne{
    width: 50vw;
}

.lineTwo{
    width: 30vw;
}

.detailsLabelContainer{
    display: flex;
    flex-direction: column;
}

.Financedetails{
    display: flex;
    width: 20vw;
    justify-content: space-between;
    margin: 4vh 0 0 3vw;
}

.label{
    font-weight: bold;
}

.hr{
    width: 90%;
    border: 0.5px dotted rgba(0, 0, 0, 0.182);
    margin: 0 0 0 3vw;
    position: relative;
    top: 2vh;
}

.roomsContainer{
   margin: 3vh 3vw 0 0; 
   display: flex;
   align-items: center;
}

.room{
    align-self: center;
    margin: 1vh 0 0 0;
}

.confirmModal{
    margin: 2% 0 0 0;
    display: flex;
    height: 90%;
    flex-direction: column;
    position: relative;
}

.confirmHeading{
    font-weight: bold;
    font-size: 1.7rem;
    margin: 1% 0 0 0;
}

.success{
    margin: 5% 0 0 0;
}

.confirmBody{
    margin: 5% 0 0 0;
    font-size: 1.2rem;
}

.modalBtnContainer{
    width: 90%;
    margin: auto auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.confirmBtn{
    padding: 3%;
}

.cancelBtn{
    font-size: 0.7rem;
    border: 1px solid #4D5949;
    border-radius: 4px;
    width: clamp(3vw,5vw,5vw);
    margin: 0 0 0 0.5vw;
}

.doneBtn{
    align-self: center;
    padding: 3%;
    margin: 10% 0 0 0;
}

.successIcon{
    width: 10%;
    position: absolute;
    top: -6vh;
    left: 15.6vw;
}






