.container {
  width: 92vw;
  height: 80vh;
  position: fixed;
  top: 14vh;
  left: 7vw;
  box-sizing: border-box;
  
}

.cover1{
  
  margin-left: 5vw;
 
}


/*form*/

.formContainer {
  display: flex;
  flex-direction: column;
  height: 42vh;
}

.div1 {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.div1 input{
  margin: 0 5vw 0 0;
}

.div7{
  display: inline-flex;
  flex-direction: column;
  
}
.div6{
  display: inline-flex;
}
.textArea{
  margin: 0 1vw 0 0;
}
.labelOne {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}


.createBtn {
  position: relative;
  top: 1vh;
  margin-left: 80vw;

}

.error {
  color: rgb(141, 22, 22);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.buttonOne{
  border: none;
  padding: 1vh 1vw 1vh 1vw;
  min-width: 6vw;
  background:#8F9489;;
  color: #FCFBFF;
  border-radius: 12px;
 
  cursor: pointer;
  
}

/*table*/

.tableContainer{
 
  position: relative;
  bottom: -2vh;

   left: -2vw;
}




.labelTwo {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin: 0 0 0.9vh 0;
    position: relative;
    top:2vh
  }


.DeleteImg{
    position: relative;
    top:2vh;
    height: 4vh;
    background-color: #8F9489;;
    padding-left: 0.4vw ;
    padding-right: 0.4vw;
    border-radius: 0.1rem;
}

.EditImg{
    position: relative;
    top:2vh;
    height: 4vh;
    margin-right: 0.1rem;
}

/*filter*/

.selectTwo {
  width: 11vw;
  height: 5.34vh;
  margin-left: 58.5vw;
  position: relative;
  top: 1vh;
  text-align: center;
  
}

.editOne{
  width: 11vw;
  height: 3vh;
  text-align: center;
 
  border: none;
  color: #0d0c22;
  transition: 0.3s ease;
background-color: transparent;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
}

.editTwo{
  width: 11vw;
  height: 3vh;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #0d0c22;

  border-bottom: 1px solid black;

  font-size: 0.8rem;
}


.editOne:focus,
.editOne:hover,
.editTwo:focus,
.editTwo:hover{
  width: 11vw;
  height: 3vh;
  text-align: center;

  color: #0d0c22;
  transition: 0.3s ease;
background-color: transparent;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
outline: none;
}

/* .saveBtn {
  background-color: white;
  padding: -1vh;
  padding-left: -2vw;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 0 1px transparent;
} */

.editBtn , .deleteBtn ,.saveBtn{
  border: none;
  outline: none;
background-color: transparent;

}

.editBtn img{
  width: 2vw;
margin-left: -0.5vw;
}


.deleteBtn img{
  width: 2vw;
margin-left: -0.009vw;
}

.saveBtn img{
  width: 1.5vw;
  margin-left: -2.7vw;
}

.sort1{
  width: 1vw;
  margin-left: 0.5vw;
}




.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -125px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

