.header {
  width: 100vw;
  height: 10vh;
  /* background-color: rgb(255, 255, 255); */
  background-color: #8f9489;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.content {
  background-color: rgb(255, 255, 255);
  margin: 3vh 6vw 1vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 88vw;
  height: 86vh;
}

.divTblEditDeleteRoom {
  height: 86vh;
}

.bodyTblTaskEditDelete {
  height: 74vh;
}

.divTitleEditDelete {
  width: 88vw;
  height: 5.5vh;
  font-weight: 600;
}

table {
  padding: 20px;
}

td,
th {
  text-align: center;
  font-size: 12px;
  /* border-radius: 10px; */
  padding: 10px;
}

th {
  border-bottom: 2pc solid black;
}

thead {
  font-weight: 0;
  /* background-color: #576670; */
  display: inline-block;
  text-align: center;
}

tbody {
  background-color: white;
  text-align: center;
  display: inline-block;
  overflow-y: scroll;
}

.redBadge {
  border: 1px solid red;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 12px;
  width: 65px;
  text-align: center;
}

.blueBadge {
  border: 1px solid blue;
  background-color: blue;
  color: white;
  padding: 5px;
  border-radius: 12px;
  width: 65px;
  text-align: center;
}
