.header {
  width: 100vw;
  height: 10vh;
  /* background-color: rgb(255, 255, 255); */
  background-color: #8f9489;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.content {
  background-color: rgb(255, 255, 255);
  margin: 3vh 6vw 1vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 88vw;
  height: 86vh;
}

/* 
.divTitleAddItems {
  width: 88vw;
  height: 5vh;
  font-weight: 600;
}

.divInputRow1 {
  width: 88vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.divInputRow2 {
  width: 88vw;
  height: fit-content;
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
}

.labelRow1 {
  width: 88vw;
  height: 1.5vh;
  margin: 0 0.5rem 0 0;
  display: flex;
  flex-direction: row;
}

.labelRow1Text {
  font-size: 12px;
}

.inputFieldRow1 {
  width: 17vw;
  height: 5vh;
  margin-right: 0.75vw;
  border: 2px solid #d1d1d1;
  border-radius: 4px;
  background-color: rgb(200, 203, 197, 0.5);
}

.inputFieldRow1,
.inputFieldRow2 {
  border: 2px solid rgb(209, 209, 209);
  border-radius: 4px;
  background-color: rgb(209, 209, 209);
  padding: 0 10px;
}

.inputFieldRow1:hover,
.inputFieldRow2:hover {
  border: 2px solid rgb(209, 209, 209);
  border-radius: 4px;
  background-color: rgb(209, 209, 209);
  box-shadow: 0 0 0 0px rgb(150, 152, 147);
}

.inputFieldRow1:focus,
.inputFieldRow2:focus {
  border: 2px solid rgb(150, 152, 147);
  background-color: #f3f4f1;
  box-shadow: 0 0 0 0px rgb(150, 152, 147);
  outline: none;
}

.inputFieldRow1:active,
.inputFieldRow2:active {
  border: 2px solid rgb(150, 152, 147);
  background-color: #f3f4f1;
  box-shadow: #c8cbc5;
  outline: none;
}

.inputFieldRow2 {
  width: 88vw;
  height: 11.5vh;
  resize: none;
}
*/
.divBtnAddToList {
  width: 88vw;
  height: fit-content;
  /* background-color: pink; */
  display: flex;
  justify-content: flex-end;
}

.btnaddItems {
  width: 10vw;
  height: 5vh;
  background-color: white;
  border-color: rgb(145, 150, 139, 0.8);
  color: rgb(145, 150, 139, 0.8);
  border-radius: 4px;
  padding: 5px;
}

.btnAddToList {
  width: 10vw;
  height: 5vh;
  background-color: rgb(145, 150, 139, 0.8);
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px;
}

.btnAddToList:hover {
  width: 10vw;
  height: 4.5vh;
  background-color: rgb(145, 150, 139, 0.8);
  border: none;
  color: white;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 4px;
}

.btnAddToList:active {
  background-color: rgb(145, 150, 139);
  border: none;
  color: white;
}

.btnAddToList:active {
  background-color: rgb(145, 150, 139, 0.5);
  border: 2px solid rgb(145, 150, 139);
  color: rgb(145, 150, 139);
}

.divEditDeleteTableSection {
  width: 88vw;
  height: 50vh;
}

.divTitleEditDelete {
  width: 88vw;
  height: 5.5vh;
  font-weight: 600;
}

.inputSize {
  width: 50vw;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.errInput {
  border: 2px solid red;
}
/* 
.inputFields {

  width: 17vw;
}

.divcol1 {
  display: flex;
  justify-content: flex-start;

  flex-direction: row;
  margin-bottom: 10px;
  width: 80vw;
}

.formLegend {
  font-size: 1rem;
  margin: 0.5rem 0 0 0;
}

.formFieldSet {
  font-size: 1rem;
}

.divInputContent {
  display: flex;
  flex-direction: column;
} */

.divInputContent {
  background-color: black;
  height: 20vh;
}

.divAddItemsSection {
  width: 88vw;
  height: fit-content;
  margin-bottom: 10px;
  height: fit-content;
  /* background-color: pink; */
}

.divTitleAddItems {
  width: 88vw;
  height: 5vh;
  font-weight: 600;
}

.divFormRow1,
.divFormRow2,
.divFormRow3 {
  display: flex;
  flex-direction: row;
  width: 88vw;
  margin-bottom: 2vh;
}

.divInputField1,
.divInputField2 {
  margin-right: 0.5vw;
}

.formLegend {
  font-size: 1rem;
  margin: 0.5rem 0;
}
