.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  width: 18vw;
  height: 50vh;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);


}

.title {
  margin-bottom: 16px;
  font-size: 1.5rem;
  
  font-weight: 700;

}

.cardList {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-left: 0.2vw;
  margin-bottom: 8px;
  background-color: #ECE5D8;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: 13rem;
  height: 3rem;
  
 
}

.cardNumber {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22311E;
  border-radius: 50%;
  color: #e5e5e5;
}

.cardText {
  font-size: 14px;

  flex: 1;
  text-align: left;
  
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .container {
    width: 80vw;
    height: auto;
  }
  
  .title {
    font-size: 1.2rem;
  }
  
  .cardList {
    margin: 0;
  }
  
  .card {
    width: 100%;
    height: auto;
    margin: 8px 0;
  }
  
  .cardNumber {
    font-size: 12px;
    height: 20px;
    width: 20px;
    margin-right: 4px;
  }
  
  .cardText {
    font-size: 12px;
  }
}
