/* This CSS will be applied to all screen sizes */
.headerSection{
    background: linear-gradient(0deg, rgba(221,210,188,1) 0%, rgba(153,138,71,1) 100%, rgba(0,0,0,0.7344187675070029) 100%);
    display: flex;
    width: clamp(70vw,70vw,70vw);
    padding: 2.5vh 0;
    border-radius: 0.8rem;
    margin: 8vh 0 0 4.5vw;
    position: relative;
    justify-content: center;
}



.head{
    font-size: 2.2rem;
    color: black;
    font-weight: 800;
}

.para{
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

.cardSection{
    position: absolute;
    top: -6vh;
    left: 2vw;
}

.cardSection .img {
    width: 185px;
}

/* Media queries to adjust styles for smaller screen sizes
@media (max-width: 768px) {
    .headerSection {
        width: 90%;
        height: 12%;
        bottom: 50vh;
    }
    .title {
        margin-left: 10vw;
        margin-top: 2vh;
    }
    .head {
        font-size: 1.5rem;
    }
    .para {
        font-size: small;
    }
    .cardSection {
        margin-left: 2vw;
        margin-top: 2vh;
    }
    .cardSection .img {
        width: 20vw;
    }
}

@media (max-width: 480px) {
    .headerSection {
        width: 100%;
        height: 10%;
        bottom: 40vh;
    }
    .title {
        margin-left: 5vw;
        margin-top: 1vh;
    }
    .head {
        font-size: 1rem;
    }
    .para {
        font-size: x-small;
    }
    .cardSection {
        margin-left: 1vw;
        margin-top: 1vh;
    }
    .cardSection .img {
        width: 30vw;
    }
} */

@media (max-width: 1000px) {
    .headerSection{
        justify-content: flex-end;
    }
    .title{
        margin: 0 1vw 0 0;
    }
}
