.Card{
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  width: 15vw;
  border: black;
  border-radius: 5px;
  border-style: dotted;
  align-items: center;
  padding-top: 2vh;
}

.guest{
  font-weight: 700;
}