.container{
    width: 90vw;
    margin: 6vh auto 0 auto  ;
}

.calenderContainer{
    display: flex;
    gap: 1%;
    align-items: center;
    font-size: 1.1rem;
}

.cardContainer{
    margin: 2vh 0 0 5vw;
    justify-content: center;
    gap: 1.5vw;
    display: flex;
}

.card{
    display: inline-grid;
    padding:2vh;
    width: 15vw;
    border-radius: 12px;
    background: #F0EBE2;
    text-align: center;
}

.value{
    font-size: 3rem;
    text-align: center;
}

.resTableContainer{
    margin: 8vh 0 0 0;
}

.tableHeader{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.headerLeft,.headerRight{
    display: inline-flex;
}
.heading{
    font-size: 1.5rem;
    margin: 0 0.8vw 0 0;
}

.headerRight{
    position:absolute;
    right: -3vw;
    gap: 1vw;
}

.addIcon{
   width: 30px;
   height: 30px;
   margin: 0.2vh 0 0 0;
}

.tableCont{
    margin: 2vh 0 0 0;
}

.editCont{
    height: 180%;
    width: 105%;
    background-color:white;
    border-radius: 8px;
    position: relative;
    right: 2.5%;
    bottom: 40%;
}


.editHeading{
    font-size: 1.4rem;
    padding: 2% 0 0 0;
}

.inputCont,.btnCont,.confirmBtnCont{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 3% auto;
}

.inputCont select{
    width: 12vw;
}

.btnCont{
    margin: 5% auto;
}

.confirmBtnCont{
    margin:10% auto;
}

.editBtn{
    padding: 2.2% 2%;
    font-size: 0.7rem;
    color: #4D5949;
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: clamp(3vw,12.2vw,12.2vw);
}

.cancelBtn,.confirmBtn  {
    padding: 3%;
    font-size: 0.9rem;
}

.cancelBtn{
    border:1px solid #4D5949;
}

.confirmBtn{
    background:#4D5949;
    color: white;
}

.filter{
    z-index: 2;
    display: flex;
    gap: 1vw;
}

.filter input{
    font-family: "Roboto Mono",monospace;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
}


.filter input[type=text]{
    width: 10vw;
}

.filter input[type=date]{
    width: 8vw;
}


.filter input:focus {
    outline: none;
    border-color: #0398fc;
    box-shadow: 0 0 0 1px #0398fc;
   }

.filterIcon{
    width: 2vw;
    height: 4vh;
    cursor: pointer;
    position: relative;
    top: 1vh;
}

.select{
    z-index: 2;
    min-width: 16vw;
}

.select *{
    text-align: start;
    font-size: 0.7rem;
}

.hidden{
    visibility: hidden;
}

.menu{
    margin: 0 2vw 0 0;
}

.inputs{
   display: flex;
   flex-direction: column;
   position: relative;
   bottom: 3.2vh;
}

.inputs input{
    padding: 5%;
}

.inputs input[type="date"]{
   width: 9vw;
   padding:6%;
}








