
.formContainer {
    display: grid;
    flex-direction: column;
    height: 42vh;
    justify-content: center
  }
  
  .div1 {
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 4vw;
  }
  
  .div2 {
    top:7vh;
    width: 90vw;
  }
 
  .select{
    margin-top: 1vh;
  }
  
  .labelOne {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  
  .createBtn {
    position: relative;
    top: 2vh;
    bottom: 10vh;
    margin-left: 83vw;
  }
  
  .buttonOne {
    border: none;
    padding: 1vh 1vw 1vh 1vw;
    min-width: 6vw;
    background: #4d5949;
    color: #fcfbff;
    border-radius: 12px;
    cursor: pointer;
  }
  .lbl4 {
  margin-bottom: 10px;
}

  /* table */
  .tableContainer {
    position: relative;
    bottom: 1vh;
  }
  .tbl {
    background-color: white;
    width: 88vw;
    height: 37vh;
    margin: 2vh 0 0 5vw;
  
  }

  
  .labelTwo {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin: -5vh 9vh 0;
    position: relative;
    top: 2vh;
  }
 
  
  
  
  
  