.card,.addCard,.chartCard,.promotioncard{
    background-color:#d7d0c2;
    border-radius: 10px;
    width: 12vw;
    height: 20vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.addCard{
    width: 14vw;
    display: flex;
    align-items: center;
}

.addCard span{
    width: 50%;
    margin: 0 0 0 2vw;
    font-size: 1.2rem;
}


.cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImg{
    width: 2.5vw;
    height: 5.5vh;
    margin: 4% 0 2% 0;
}

.value{
    font-size: 2rem;
}

.addIcon{
    margin: 0 0 0 1vw;
    cursor: pointer;
}


.rowOne{
    display: flex;
    gap: 2vw;
}

.rowTwo{
    margin: 3% 0 0 0 ;
    display: flex;
    gap: 4vw;
}

.chartCard{
    width: 16vw;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.chartCard span{
    margin: 2% 0 0 0;
    font-size: 0.9rem;
}

.chart{
    height: 18vh;
    width: 10vw;
    margin: 4% 0 0 10%;
}

.legendCont{
    display: flex;
    gap: 1vw;
    margin: 4% 0 0 0;
}

.legend{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.legendColor{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.available{
    background-color: #898E80;
}

.occupied{
    background-color: #22311E;
}

.promotioncard{
    width: 50vw;
    min-height: 35vh;
    background-color:#FFFFFF;
    
}

.promoCont{
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.promoHeading{
    font-size: 1.1rem;
    align-self: center;  
    margin: 0 0 2% 0;  
}

.promoTable{
background-color: #FFFFFF;
font-size: 0.7rem;
border-collapse: separate; 
border-spacing: 10px;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}



.promoTable th,.promoTable td {
    text-align: center;
  }

  .promoTable tr{
    
  }

  .promoTable tbody tr:nth-child(even) {
    background-color: transparent; 
  }
  
  /* .promoTable tbody tr:nth-child(odd) {
    background-color: #FFFFFF; 
  } */