
.promotioncard{
    width: 48vw;
    min-height: 35vh;
    background-color:#FFFFFF;
    
}

.promoCont{
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.promoHeading{
    font-size: 1.1rem;
    align-self: center;  
    margin: 0 0 2% 0;  
}

.promoTable{
background-color: #FFFFFF;
font-size: 0.7rem;
border-collapse: separate; 
border-spacing: 10px;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}



.promoTable th,.promoTable td {
    text-align: center;
  }

  .promoTable tr{
    
  }

  .promoTable tbody tr:nth-child(even) {
    background-color: transparent; 
  }
  
  /* .promoTable tbody tr:nth-child(odd) {
    background-color: #FFFFFF; 
  } */