.components{
    margin-top: -1vh;
    display: flex;
    flex-direction: column;
}

.row1{
    margin-top: 1vh;
}

.row1 h3{
    font-weight: bolder;
    font-family: system-ui;
    text-align: center;
    margin-top:2vh;
    color: aliceblue;
}

.row2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box{
    margin: 1.5vh auto;
    display: flex;
    flex-direction: column;
    border: dashed rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 42vh;
    align-self: center;
    border-radius: 8px;

}

.conts{
    
    display: flex;
    flex-direction: row;
    margin-bottom: -3vh;
    margin-left: -2vw;

}

.texts{
    margin-top: 3vh;
    
    margin-left: 5vw;
    color: aliceblue;
}

/*--------------Sliders----------------*/

.sliderOne{
    margin: 3vh 0 0 10.5vw;
    
}

.sliderTwo{
    margin: 3vh 0 0 11.5vw;
}

.sliderThree{
    margin: 3vh 0 0 12.8vw;
}

.sliderFour{
    margin: 3vh 0 0 11.7vw;

}

.sliderFive{
    margin: 3vh 0 3vh 12.5vw;
}

/*--------------Sliders[end]----------------*/

.buttons{
    margin: 3vh auto;
    display: flex;
    flex-direction: row;
    gap: 25vw;
}

/*.................Submit  Button Css................*/

.submitButton {
    display: inline-block;
    border-radius: 8px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 7px;
    width: 90px;
    margin:  auto;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
   }
   
   .btnText {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color:  #EEEEEE;
   }
   
   .btnText:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .submitButton:hover .btnText {
    padding-right: 15px;
   }
   
   .submitButton:hover .btnText:after {
    opacity: 1;
    right: 0;
   }

   /*........Submit button CSS end...*/

   /*.................Back Button Css................*/
   .backbtn {
    font-size: 16px;
    padding: 5px;
    width: 90px;
    background: #000;
    color: #EEEEEE;
    border: none;
    border-radius: 8px !important;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    
    margin-top:0.3vh;
    
  }
  
  .backbtn:hover {
    box-shadow: #bababa 0px 0px 0px 2px, #3a3a3a 0px 0px 0px 5px;
    background: #000000;
    color: #ffffff;
  }

  /*........end of back btn css */

   /*.................Cancel Button Css................*/
   .cancelbtn {
    font-size: 16px;
    padding: 5px;
    width: 90px;
    background: #000;
    color: #EEEEEE;
    border: none;
    border-radius: 8px !important;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    
    margin-top:0.3vh;
    
  }
  
  .cancelbtn:hover {
    box-shadow: #bababa 0px 0px 0px 2px, #3a3a3a 0px 0px 0px 5px;
    background: #000000;
    color: #ffffff;
  }

  .slider {
    width: 20%;
    height: 10px;
    background-color: #030303;
    border-radius: 5px;
  }
  
  .slider .thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #5cb85c;
    outline: none;
  }
  
  .slider .thumb:hover {
    background-color: #449d44;
  }
  
  .slider .thumb.active {
    background-color: #449d44;
  }
  
  .slider .track {
    height: 10px;
    background-color: #ddd;
  }
  
  .slider .track-1 {
    background-color: #5cb85c;
  }
  
  .slider .track-2 {
    background-color: #ddd;
  }
  