.components{
    display: flex;
    flex-direction: column;
}

.row1 h3{
    font-weight: bolder;
    font-family: system-ui;
    text-align: center;
    margin-top:11vh;
    margin-bottom: 10vh;
    color: aliceblue;
}

.row2{
    display: flex;
    flex-direction: row;
    margin: 5%;
    gap: 3.5vw;
    justify-content: center;
}

.box{
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 35vh;
    background-color:rgb(115, 114, 114);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.head{
    display: flex;
    flex-direction: row;
    color: rgb(229, 231, 232);
    font-family: system-ui;
    text-align: center;
    justify-content: center;
    margin-top: 1.5vh;
    font-size: large;
}

.survey {
    display: flex;
    gap: 5vw;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .emojiCont{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 1vh;
    margin-bottom: 7vh;
    text-align: center;
  }

  .emoji{
    margin: 0 0 2vh 0
  }

  

  .emoji:hover{
    opacity: 0.75;
    cursor: pointer;
  }

  .selectedEmoji{
    scale: 1.2;
  }

  .emojiDesc:hover{
    text-decoration: underline;
    cursor: pointer;
  }


.buttons{
    margin: -2.5vh auto;
    display: flex;
    flex-direction: row;
    gap: 25vw;
}


   .backbtn {
    font-size: 16px;
    padding: 5px;
    width: 90px;
    background: #000;
    color: #EEEEEE;
    border: none;
    border-radius: 8px !important;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    margin-top:0.3vh;
  }
  
  .backbtn:hover {
    box-shadow: #bababa 0px 0px 0px 2px, #3a3a3a 0px 0px 0px 5px;
    background: #000000;
    color: #ffffff;
  }

   .nextbtn {
    font-size: 16px;
    padding: 5px;
    width: 90px;
    background: #000;
    color: #EEEEEE;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    margin:0.3vh auto 0 auto;
    
  }
  
  .nextbtn:hover {
    box-shadow: #bababa 0px 0px 0px 2px, #3a3a3a 0px 0px 0px 5px;
    background: #000000;
    color: #ffffff;
  }


  